p {
    margin: 0;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
    color: black;
}

html, body, #root, .App {
    min-height: 100vh;
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
}
input::placeholder {
    color: 	#b4b4b4;
}